/* 

SecSpirit - 2020

*/
@font-face {
 font-family: "Futura Heavy";
 src: url("/fonts/futura_heavy_italic.ttf") format("ttf");
}
h1,h2,h3,em,span,p{
 font-family:"Futura Heavy";
}
#identification{
    height: auto;
    width: auto;
    margin : 50px;
    border : black solid 1px;
    border-radius: 50px;
    background-color: azure;
    padding-bottom:50px;
}

#formulaire{
    background-color: bisque;
    width: 400px;
    flex-wrap: wrap;
    height: auto;
    border-radius: 10px;
    margin: auto;
    padding-bottom: 20px;
}
.form{
    margin:auto;
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#champs{
    display: flex;
    justify-content: center;
}
.titre {
    font-size: 60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: coral;
}
#titrediv{
    margin:auto;
    width: 300px;
    
}
.titreem{
    color: cornflowerblue;
}
#button{
    background-color: #499CE2; border: none; color: white; padding: 16px 32px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; margin: 4px 2px; cursor: pointer; border-radius: 10px;;
}
input{
    width: 200px;
}
.formChamps{
    padding-bottom: 5px;;
}
.champs{
    color: coral;
    margin:5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#champsCrypt{
    display: flexbox;
    flex-direction: column;
    justify-content: center;
}
.champs2{
    width: 50px;
}
.button2{
    background-color: #809CF8; border: none; color: white; padding: 16px 32px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; margin: 4px 2px; cursor: pointer; border-radius: 10px;;
}
textarea{
    border: solid coral 5px;
    border-radius: 10px;
    resize: none;
    background-color: bisque;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:   cornflowerblue;
}
select{
    border: none;
    background-color: bisque;
    color: coral;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#formulaireCrypt{
    background-color: bisque;
    width: 400px;
    flex-wrap: wrap;
    height: auto;
    border-radius: 10px;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}
#deconnexion{
    display: flex;
    justify-content: center;
}
.chiffre{
    color: rgb(22, 50, 102);
    width: 200px;
    text-align: center;
}
.cle{
    color:#699ec7;
}
#messageChiffre{
    margin: auto;
}
.messagechiffre{
    margin-right:10%;
}
/* 

SecSpirit - 2020

*/